html *
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: gray;
}

.container
{
	width: 300px;
	margin: 100px auto;
}

.clock
{
	position: relative;
	background-image: url('images/dark_clock_face.png');
	width: 300px;
	height: 300px;
	background-size: contain;
}

.h-hand
{
	position: absolute;
	left: 145px;
	top: 72px;
	background-image: url('images/dark_clock_hour.png');
	height: 100px;
	width: 35px;
	background-size: 35px 100px;
	transform-origin: 36% 80%;
}

.m-hand
{
	position: absolute;
	left: 143px;
	top: 46px;
	background-image: url('images/dark_clock_min.png');
	height: 105px;
	width: 20px;
	background-size: 20px 105px;
	transform-origin: 53% 93%;
}

.s-hand
{
	position: absolute;
	left: 140px;
	top: 33px;
	background-image: url('images/dark_clock_sec.png');
	height: 120px;
	width: 26px;
	background-size: 26px 120px;
	transform-origin: 45% 95%;
}
